{% extends 'base.html.twig' %}

{% block title %}Edit Elections{% endblock %}

{% block body %}
    <h1>Edit Elections</h1>

    {{ include('election_district/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_elections_district_index') }}">back to list</a>

    {{ include('election_district/_delete_form.html.twig') }}
{% endblock %}
