{% extends 'base.html.twig' %}

{% block title %}New NiveauAdmin{% endblock %}

{% block body %}
    <h1>Create new NiveauAdmin</h1>

    {{ include('niveau_admin/_form.html.twig') }}


{% endblock %}
