{% extends 'base.html.twig' %}

{% block title %}Edit NiveauElection{% endblock %}

{% block body %}
    <h1>Edit NiveauElection</h1>

    {{ include('niveau_election/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_niveau_election_index') }}">back to list</a>

    {{ include('niveau_election/_delete_form.html.twig') }}
{% endblock %}
