{% extends 'base.html.twig' %}

{% block title %}Edit Electeurs{% endblock %}

{% block body %}
    <h1>Edit Electeurs</h1>

    {{ include('electeurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_electeurs_index') }}">back to list</a>

    {{ include('electeurs/_delete_form.html.twig') }}
{% endblock %}
